:root{

  --secs: 0.4s;
  --header-height: 4rem;


}

.block {
  overflow-x:auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2,
h3 {
  margin: 10px 0 10px 0;
}

.centerStuff{
  align-items: center;
  color: #2f5687;

}

.container {
  text-align: center;
  padding: 15px;
  margin: 10px auto;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container p {
  padding-top: 10px;
  color: #666;
}

.sidebar {
  display: inline-block;
  max-width: 20wh;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar-item-icon {
  margin-right: 6px;
}

.sidebar-item-text {
  width: 100%;
}

.sidebar-item-expand-arrow {
  font-size: 1.2rem !important;
}

.sidebar-item-expand-arrow-expanded {
  color: #09bb12;
  font-weight: bold;
}

.mapContainer{
  /*min-width: 1000px;*/
  width: 80vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: right;
  float: right;
}


.standardForm{
  display: inline-block;
  text-align: right;
}

.mapTextContainer{
  width: 1200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #09bb12;
  font-weight: bold;
  float:left;
}

.baseWrapper{
  position:relative;
  overflow: hidden;

}

.leftOverlay{
  float:left; 
}

.flexLeft{
  position: absolute;
  top: 0;
  left: 0;
  float:left; 
  z-index:1;
  opacity:1.0;
  background-color: white;
}

.moduleOverlay{
  float:left;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper{

 /*flex-direction: row;*/
  /*width: device-width;*/
  border: 1px solid black;
  overflow-x:scroll;
}

#floatingLeft{

  float:left; 
  
}

.activeModule{
  /*border-spacing: 15px;
  padding: 20px;*/
  overflow: auto;
}

.cropModel{
  height: 17vh;
  overflow-y: auto;

}

.blockVariables{
  height: 17vh;
  overflow-y: auto;
}

.model{
  height: 16vh;
  overflow-y: auto;
}

.variable{
  height: 13vh;
  overflow-y: auto;
}

.experiment{
  height: 17vh;
  overflow-y: auto;
}

#floatingRight{
  float:left;
}

.left{
    float:left; 
}

.centerMap{
   /* border: 1px solid green;*/

   box-sizing: border-box;
  
   /*flex-grow: 1;*/

}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.leaflet-container {
  /* width: 100vw; */
  /* height: 100vh; */
  /* width: 800px;
  height: 600px; */
  width: 100%;
  height: 95%;
}

.sr-only {
  display: none;
}

.sliderL-container{
  background-color:#ffffff80;
  color:black;
  align-items: center;
}

.sliderL{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderL-label{
  display: flex; 
  justify-content: center;
  align-items: center;
}





